deployment/src/main/webapp/swagger.json
resources/src/main/external-resources/*.xml
resources/src/main/external-resources/*.json
resources/src/main/external-resources/*.properties
out/
target/
.gitnexus

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
