{
  "swagger" : "2.0",
  "info" : {
    "description" : "The Mapcode Foundation provides an implementation of the Mapcode REST API at:\n**https://api.mapcode.com/mapcode**\n\n### Disclaimer\n\nThis free online service is provided for demonstration purposes only and the Mapcode Foundation accepts no claims on its availability or reliability, although we'll try hard to provide a stable and decent service. Note that usage or log data may be collected, only to further improve service (never for commercial purposes). If you are interested in using the service for professional purposes, or in high-availability or high-demands contexts, you may wish to consider self-hosting this service. The source code is open-source and available at:\n**https://github.com/mapcode-foundation/mapcode-rest-service**\n\n### Using JSON or XML\n\nAll REST services are able to return both JSON and XML. Use the HTTP **Accept:** header to specify the expected format: **application/json** or **application/xml**. If the **Accept:** header is omitted, JSON is assumed.\n\nIf you cannot specify an **Accept:** header, simply add **/xml** or **/json** in the URL, directly after **/mapcode**. So instead of using **GET /mapcode/codes/52.5,5.2**, you can use **GET /mapcode/`xml`/codes/52.5,5.2** or **GET /mapcode/`json`/codes/52.5,5.2**. This works for most calls in the API.\n\n### Trying out the REST API\n\nYou can try out the REST API below by clicking in the **/mapcode** box and then selecting a method. This expands the definition of the method and shows its documentation. It also reveals a `Try it out` button.",
    "version" : "2.4.18.3",
    "title" : "Mapcode REST API",
    "termsOfService" : "http://mapcode.com/downloads.html",
    "contact" : {
      "name" : "Mapcode Foundation",
      "url" : "http://mapcode.com",
      "email" : "rijn.buve@mapcode.com"
    },
    "license" : {
      "name" : "Apache License version 2",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "api.mapcode.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "mapcode",
    "description" : "This resource provides the Mapcode REST API."
  }, {
    "name" : "monitoring",
    "description" : "These resources are provided for monitoring purposes."
  } ],
  "schemes" : [ "http", "https" ],
  "paths" : {
    "/mapcode" : {
      "get" : {
        "tags" : [ "monitoring" ],
        "summary" : "Provide a simple help page for the REST API.",
        "description" : "",
        "operationId" : "getHelpHTML",
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "HTML help page.",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/mapcode/alphabets" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "summary" : "Return a list of supported alphabets.",
        "description" : "",
        "operationId" : "getAlphabets",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "(optional) Only return territories from a specific offset in the full list of territories. If the value is negative, the offset counts from the end of the list, rather than the start. For example, to return the last 10 items, simply specify `offset=-10`.",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "(optional) Return at most `count` territories in the response.",
          "required" : false,
          "type" : "integer",
          "default" : 1000,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returned a list of alphabets.",
            "schema" : {
              "$ref" : "#/definitions/alphabets"
            }
          }
        }
      }
    },
    "/mapcode/alphabets/{alphabet}" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "summary" : "Return a single alphabet definition.",
        "description" : "",
        "operationId" : "getAlphabet",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "alphabet",
          "in" : "path",
          "description" : "Name of the alphabet.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returned an alphabet definition.",
            "schema" : {
              "$ref" : "#/definitions/alphabet"
            }
          },
          "404" : {
            "description" : "The alphabet does not exist."
          }
        }
      }
    },
    "/mapcode/codes" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "operationId" : "convertLatLonToMapcode",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/codes/{latDeg},{lonDeg}" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "summary" : "Convert a latitude/longitude coordinate to one or more mapcodes.",
        "description" : "",
        "operationId" : "convertLatLonToMapcode",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "latDeg",
          "in" : "path",
          "description" : "Latitude in degrees. Format: [-90, 90].",
          "required" : true,
          "type" : "string",
          "maximum" : 90,
          "minimum" : -90
        }, {
          "name" : "lonDeg",
          "in" : "path",
          "description" : "Longitude in degrees. Format: [-180, 180) (other values are correctly wrapped).",
          "required" : true,
          "type" : "string",
          "maximum" : 180,
          "exclusiveMaximum" : true,
          "minimum" : -180
        }, {
          "name" : "precision",
          "in" : "query",
          "description" : "(optional) Additional precision for the mapcodes. This uses precision extension characters, which are appended to a mapcode after a `-`.",
          "required" : false,
          "type" : "string",
          "default" : "0",
          "maximum" : 8,
          "minimum" : 0
        }, {
          "name" : "territory",
          "in" : "query",
          "description" : "(optional) Limit the returned mapcodes to this territory. This is useful if the territory is already set by the context of the application (for example, you are only interested in mapcodes for your country). If omitted, mapcodes for all territories are considered.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "(optional) Limit the returned mapcodes to this country. This is useful if the country is already set by the context of the application (for example, you are only interested in mapcodes for your country). If omitted, mapcodes for all countries are considered.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "alphabet",
          "in" : "query",
          "description" : "(optional) Provide the strings in the response using this alphabet (as well as Roman). This allows you to retrieve mapcodes written a specific script.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "(optional) Provide additional information in the response. You can include: `offset` to include the distance (in meters) of the center of the mapcode area to the coordinate; `territory` to always include a territory code, even for international mapcodes; `alphabet` to always include `mapcodeInAlphabet` and `territoryInAlphabet` attributes, even for Roman; `rectangle` to include the geospatial area covered by a mapcode.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful conversion to mapcode.",
            "schema" : {
              "$ref" : "#/definitions/mapcodes"
            }
          },
          "400" : {
            "description" : "Bad request. For example, a parameter may be out of range."
          },
          "404" : {
            "description" : "Coordinate does not exist."
          }
        }
      }
    },
    "/mapcode/codes/{latDeg},{lonDeg}/territories" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "summary" : "Look up the ranked list of mapcode territories containing a lat/lon.",
        "description" : "",
        "operationId" : "getTerritoriesForLatLon",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "latDeg",
          "in" : "path",
          "description" : "Latitude in degrees. Format: [-90, 90].",
          "required" : true,
          "type" : "string",
          "maximum" : 90,
          "minimum" : -90
        }, {
          "name" : "lonDeg",
          "in" : "path",
          "description" : "Longitude in degrees. Format: [-180, 180) (other values are correctly wrapped).",
          "required" : true,
          "type" : "string",
          "maximum" : 180,
          "exclusiveMaximum" : true,
          "minimum" : -180
        } ],
        "responses" : {
          "200" : {
            "description" : "Ranked territory candidates (possibly empty for points at sea).",
            "schema" : {
              "$ref" : "#/definitions/territoryCandidates"
            }
          },
          "400" : {
            "description" : "Bad request. For example, a parameter may be out of range."
          }
        }
      }
    },
    "/mapcode/codes/{latDeg},{lonDeg}/{type}" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "operationId" : "convertLatLonToMapcode",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "latDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lonDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "precision",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "0"
        }, {
          "name" : "territory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "alphabet",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/coords" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "operationId" : "convertMapcodeToLatLon",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/coords/{mapcode}" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "summary" : "Convert a mapcode to a latitude/longitude coordinate.",
        "description" : "",
        "operationId" : "convertMapcodeToLatLon",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "mapcode",
          "in" : "path",
          "description" : "A mapcode, either with a territory, or without it. if the territory is not specified in the URI, it should be specified as a query parameter `context=` in the request (unless it's an international mapcode).",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "description" : "(optional) The territory used as a context to resolve the mapcode. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "(optional) Include additional information in the response. You can include: `rectangle` to include rectangular area covered by the mapcode.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful conversion to coordinate.",
            "schema" : {
              "$ref" : "#/definitions/point"
            }
          },
          "404" : {
            "description" : "Mapcode does not exist."
          }
        }
      }
    },
    "/mapcode/json/alphabets" : {
      "get" : {
        "operationId" : "getAlphabetsJson",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "count",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 1000,
          "format" : "int32"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/alphabets/{alphabet}" : {
      "get" : {
        "operationId" : "getAlphabetJson",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "alphabet",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/codes" : {
      "get" : {
        "operationId" : "convertLatLonToMapcodeJson",
        "produces" : [ "application/json" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/codes/{latDeg},{lonDeg}" : {
      "get" : {
        "operationId" : "convertLatLonToMapcodeJson",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "latDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lonDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "precision",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "0"
        }, {
          "name" : "territory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "alphabet",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/codes/{latDeg},{lonDeg}/{type}" : {
      "get" : {
        "operationId" : "convertLatLonToMapcodeJson",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "latDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lonDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "precision",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "0"
        }, {
          "name" : "territory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "alphabet",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/coords" : {
      "get" : {
        "operationId" : "convertMapcodeToLatLonJson",
        "produces" : [ "application/json" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/coords/{mapcode}" : {
      "get" : {
        "operationId" : "convertMapcodeToLatLonJson",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "mapcode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "territory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/status" : {
      "get" : {
        "operationId" : "getStatusJson",
        "produces" : [ "application/json" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/territories" : {
      "get" : {
        "operationId" : "getTerritoriesJson",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "count",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 1000,
          "format" : "int32"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/territories/{territory}" : {
      "get" : {
        "operationId" : "getTerritoryJson",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "territory",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/json/version" : {
      "get" : {
        "operationId" : "getVersionJson",
        "produces" : [ "application/json" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/metrics" : {
      "get" : {
        "tags" : [ "monitoring" ],
        "operationId" : "getMetrics",
        "produces" : [ "application/json" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/status" : {
      "get" : {
        "tags" : [ "monitoring" ],
        "summary" : "Indicates whether the service is active or not.",
        "description" : "",
        "operationId" : "getStatus",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "Service is working."
          }
        }
      }
    },
    "/mapcode/territories" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "summary" : "Return a list of territory definitions.",
        "description" : "",
        "operationId" : "getTerritories",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "(optional) Only return territories from a specific offset in the full list of territories. If the value is negative, the offset counts from the end of the list, rather than the start. For example, to return the last 10 items, simply specify `offset=-10`.",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "(optional) Return at most `count` territories in the response.",
          "required" : false,
          "type" : "integer",
          "default" : 1000,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returned a list of territories."
          }
        }
      }
    },
    "/mapcode/territories/{territory}" : {
      "get" : {
        "tags" : [ "mapcode" ],
        "summary" : "Return a single territory definition.",
        "description" : "",
        "operationId" : "getTerritory",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "territory",
          "in" : "path",
          "description" : "The territory code. This can be a 3-character `XXX` or 2-character `XX-YY` code.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "description" : "(optional) Use this territory as a parent territy, if need to disambiguate the provided territory code.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returned a single territory.",
            "schema" : {
              "$ref" : "#/definitions/territory"
            }
          },
          "404" : {
            "description" : "The territory does not exist."
          }
        }
      }
    },
    "/mapcode/version" : {
      "get" : {
        "tags" : [ "monitoring" ],
        "summary" : "Returns the version number of the REST API.",
        "description" : "",
        "operationId" : "getVersion",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "Version number (no assumption can be made on its format)."
          }
        }
      }
    },
    "/mapcode/xml/alphabets" : {
      "get" : {
        "operationId" : "getAlphabetsXml",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "count",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 1000,
          "format" : "int32"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/alphabets/{alphabet}" : {
      "get" : {
        "operationId" : "getAlphabetXml",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "alphabet",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/codes" : {
      "get" : {
        "operationId" : "convertLatLonToMapcodeXml",
        "produces" : [ "application/xml" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/codes/{latDeg},{lonDeg}" : {
      "get" : {
        "operationId" : "convertLatLonToMapcodeXml",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "latDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lonDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "precision",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "0"
        }, {
          "name" : "territory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "alphabet",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/codes/{latDeg},{lonDeg}/{type}" : {
      "get" : {
        "operationId" : "convertLatLonToMapcodeXml",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "latDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lonDeg",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "precision",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "0"
        }, {
          "name" : "territory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "alphabet",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/coords" : {
      "get" : {
        "operationId" : "convertMapcodeToLatLonXml",
        "produces" : [ "application/xml" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/coords/{mapcode}" : {
      "get" : {
        "operationId" : "convertMapcodeToLatLonXml",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "mapcode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "territory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/status" : {
      "get" : {
        "operationId" : "getStatusXml",
        "produces" : [ "application/xml" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/territories" : {
      "get" : {
        "operationId" : "getTerritoriesXml",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 0,
          "format" : "int32"
        }, {
          "name" : "count",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 1000,
          "format" : "int32"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/territories/{territory}" : {
      "get" : {
        "operationId" : "getTerritoryXml",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "territory",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowLog",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "true"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/mapcode/xml/version" : {
      "get" : {
        "operationId" : "getVersionXml",
        "produces" : [ "application/xml" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    }
  },
  "definitions" : {
    "alphabet" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The name of the alphabet. Currently, this is the only attribute for an alphabet."
        }
      },
      "xml" : {
        "name" : "alphabet"
      },
      "description" : "An alphabet definition object, such as returned by `GET /mapcode/alphabets/roman`."
    },
    "alphabets" : {
      "type" : "object",
      "properties" : {
        "total" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of alphabet objects (not just the ones in this response)."
        },
        "alphabets" : {
          "xml" : {
            "name" : "alphabet"
          },
          "description" : "A list of alphabet objects.",
          "$ref" : "#/definitions/alphabet"
        }
      },
      "xml" : {
        "name" : "alphabets"
      },
      "description" : "A list of alphabet objects, such as returned by `GET /mapcode/alphabets`."
    },
    "mapcode" : {
      "type" : "object",
      "properties" : {
        "mapcode" : {
          "type" : "string",
          "example" : "2TNM",
          "description" : "The mapcode without the territory code. Format: 5-10 characters, including the '.'."
        },
        "mapcodeInAlphabet" : {
          "type" : "string",
          "description" : "(optional) The same mapcode in a specific alphabet. To view which alphabets are available: `GET /mapcode/alphabets`"
        },
        "territory" : {
          "type" : "string",
          "example" : "NLD",
          "description" : "The territory code. Format: `XXX` or `XX-YY`. To view which alphabets are available: `GET /mapcode/territories`"
        },
        "territoryInAlphabet" : {
          "type" : "string",
          "description" : "(optional) The same territory code in a specific alphabet."
        },
        "offsetMeters" : {
          "type" : "number",
          "format" : "double",
          "description" : "(optional) The approximated offset from the specified coordinate to the center of this mapcode area."
        },
        "rectangle" : {
          "description" : "(optional) The rectangular area covered by the mapcode.",
          "$ref" : "#/definitions/rectangle"
        }
      },
      "xml" : {
        "name" : "mapcode"
      },
      "description" : "A mapcode object, such as returned by `GET /mapcode/codes/52,5/local`."
    },
    "mapcodes" : {
      "type" : "object",
      "properties" : {
        "local" : {
          "description" : "A local mapcode. This is the shortest local mapcode which seems to best match input coordinate. Note that coordinates near borders of adjacent territories may be covered by different local mapcodes (with different territory codes). In such cases, the 'local' mapcode may not always specify the territory you would expect. The `mapcodes` attribute will contain the 'correct' local mapcode in those cases. This `local` mapcode is only offered as a convenience.",
          "$ref" : "#/definitions/mapcode"
        },
        "international" : {
          "description" : "The international mapcode. This is globally unique mapcode, which does not require a territory code. The downside of using international mapcodes is their length: they are always 10 characters.",
          "$ref" : "#/definitions/mapcode"
        },
        "mapcodes" : {
          "xml" : {
            "wrapped" : true
          },
          "description" : "The list of all alternative mapcodes for the specified coordinate. Coordinates near borders of territories may be covered by mapcodes from multiple territories and within a single territory, mapcodes of different lengths may exist. Normally, the logical thing to do, is select the shortest mapcode in the correct territory from this list. The attribute `local` tries to achieve this as well but in some cases it may use a territory you don't wish to use.",
          "$ref" : "#/definitions/mapcode"
        }
      },
      "xml" : {
        "name" : "mapcodes"
      },
      "description" : "A full coordinate to mapcode response object, such as returned by `GET /mapcode/codes/52,5`."
    },
    "point" : {
      "type" : "object",
      "properties" : {
        "latDeg" : {
          "type" : "number",
          "format" : "double",
          "description" : "The latitude (South-North) in degrees. Format: [-90, 90], 0 indicates the equator.",
          "minimum" : -90,
          "maximum" : 90
        },
        "lonDeg" : {
          "type" : "number",
          "format" : "double",
          "description" : "The longitude (West-East) in degrees. Format: [-180, 180), 0 indicates the Greenwich meridian.",
          "minimum" : -180,
          "maximum" : 180
        }
      },
      "xml" : {
        "name" : "point"
      },
      "description" : "A WGS84 coordinate, specified as a latitude and logitude."
    },
    "rectangle" : {
      "type" : "object",
      "properties" : {
        "southWest" : {
          "description" : "The South-West corner of the rectangular area.",
          "$ref" : "#/definitions/point"
        },
        "northEast" : {
          "description" : "The North-East corner of the rectangular area.",
          "$ref" : "#/definitions/point"
        },
        "center" : {
          "description" : "The center coordinate of the rectangular area.",
          "$ref" : "#/definitions/point"
        }
      },
      "xml" : {
        "name" : "rectangle"
      },
      "description" : "A rectangular geospatial area, defined by its South-West and North-East corners."
    },
    "territory" : {
      "type" : "object",
      "properties" : {
        "alphaCode" : {
          "type" : "string",
          "description" : "The alpha-code of the territory. This is a 3-character `XXX` code, or a 2-2 character `XX-YY` code, for territories which are divided into sub-regions."
        },
        "alphaCodeMinimalUnambiguous" : {
          "type" : "string",
          "description" : "The shortest alpha-code which is still unambiguous, world-wide. For example, `TX` is unambiguous, world-wide, for Texas in the USA, but `IN` is not: it can be India or Indiana, USA."
        },
        "alphaCodeMinimal" : {
          "type" : "string",
          "description" : "The shortest alpha-code. This code may be ambiguous for `XX-YY` types of codes, if used without its parent territory."
        },
        "fullName" : {
          "type" : "string",
          "description" : "The full name (in English) of the territory."
        },
        "parentTerritory" : {
          "type" : "string",
          "description" : "(optional) The full name (in English) of the parent territory. This is only relevant for `XX-YY` codes."
        },
        "aliases" : {
          "type" : "array",
          "xml" : {
            "wrapped" : true
          },
          "description" : "Alias territory codes for the territory. For example, `US-VI` and `USA-VI` both designate the Virgin Islands.",
          "items" : {
            "type" : "string"
          }
        },
        "fullNameAliases" : {
          "type" : "array",
          "xml" : {
            "wrapped" : true
          },
          "description" : "Alias names (in English) of the territory. For example, `GBR` designates the United Kingdom, but it has aliases, such as Great Britain, Scotland and more.",
          "items" : {
            "type" : "string"
          }
        },
        "alphabets" : {
          "xml" : {
            "wrapped" : true
          },
          "description" : "A list of typical alphabets (scripts) used in this territory, ordered by importance. `ROMAN` is always present in this list, as a fallback.",
          "$ref" : "#/definitions/alphabets"
        }
      },
      "xml" : {
        "name" : "territory"
      },
      "description" : "A territory definition object, such as returned by `GET /mapcode/territories/nld`."
    },
    "territoryCandidate" : {
      "type" : "object",
      "properties" : {
        "alphaCode" : {
          "type" : "string",
          "description" : "The mapcode alpha-code of the territory (3-character `XXX` or `XX-YY`)."
        },
        "parentAlphaCode" : {
          "type" : "string",
          "description" : "(optional) The mapcode alpha-code of the parent country. Omitted when not applicable."
        }
      },
      "xml" : {
        "name" : "territoryCandidate"
      },
      "description" : "A single territory candidate returned by territory lookup for a lat/lon."
    },
    "territoryCandidates" : {
      "type" : "object",
      "properties" : {
        "territories" : {
          "type" : "array",
          "xml" : {
            "name" : "territoryCandidate"
          },
          "description" : "Ranked list of territory candidates; most specific first.",
          "items" : {
            "xml" : {
              "name" : "territoryCandidate"
            },
            "$ref" : "#/definitions/territoryCandidate"
          }
        }
      },
      "xml" : {
        "name" : "territories"
      },
      "description" : "Ranked list of territory candidates for a lat/lon, as returned by `GET /mapcode/codes/{lat},{lon}/territories`."
    }
  }
}